[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dataclasses = "*"
jsonpickle = "*"
future-fstrings = "*"
aiohttp = "*"
jsontofu = "*"

[dev-packages]
pytest-cov = "*"
pytest = "*"
mypy = "*"
codecov = "*"
responses = "*"
pytest-asyncio = "*"
twine = "*"

[requires]
python_version = "3.6"
